@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h2><p><b>A copa do mundo 2022 começou, o brasil está em busca do hexa, vamos relembrar quantos titulos o brasil já tem.<br>
     brasil tem um total de 5 titulos</b></a>.</p></h2>
    <h2><p><b>Sendo eles em</b> <br><b>1958</b>  <br> <b>1962</b> <br> <b>1970</b><br> <b>1994 e 2002</b></p></h2>
<img src="~/Cafu.png">
</div>
