@{
    ViewData["Title"] = "Convocados";
}
<h1>@ViewData["Title"]</h1>

<h2><p><b> Convocados para a copa</b></p></h2>
<h2><p><b>Goleiros</b><br>

    <b> Alisson - Liverpool<br>
    Ederson - Manchester City<br>
    Weverton - Palmeiras<br></b>
<hr>
<b> Laterais<br>

    Danilo - Juventus<br>
    Alex Sandro - Juventus<br>
    Daniel Alves - Pumas<br>
    Alex Telles - Sevilla<br></b>
<hr><b>Zagueiros<br>

    Militão - Real Madrid<br>
    Marquinhos - PSG<br>
    Thiago Silva - Chelsea<br>
    Bremer - Juventus<br></b>

<hr><b>Meio-campistas<br>

    Bruno Guimarães - Newcastle<br>
    Casemiro - Manchester United<br>
    Fabinho - Liverpool<br>
    Fred - Manchester United<br>
    Paquetá - West Ham<br>
    Everton Ribeiro - Flamengo<br></b>

<hr><b>Atacantes<br>

    Neymar - PSG<br>
    Vinicius Júnior - Real Madrid<br>
    Antony - Manchester United<br>
    Rodrygo - Real Madrid<br>
    Raphinha - Barcelona<br>
    Richarlison - Tottenham<br>
    Pedro - Flamengo<br>
    Gabriel Jesus - Arsenal<br>
    Gabriel Martinelli - Arsenal</p></h2></b>
    <img src="~/Cafu.png">


